{% extends 'base.html' %}

{% block content %}
{% load static %}

        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <h1>Category by: Lifestyle</h1>
                        <p class="lead">Under this category we share Lifestyle articles with you.</p>
                    </div>

                    <div class="col-lg-3 col-md-3 col-xs-12">
                        <ol class="breadcrumb text-right">
                            <li class="breadcrumb-item"><a href="#">Matilda</a></li>
                            <li class="breadcrumb-item active">Shop</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="site-section">
            <div class="container">
                <div class="row">
                    <div class="content col-lg-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner-widget-fluid">
                                    <a href="#"><img src="../../static/upload/banner_01.jpg" alt="" class="img-fluid"></a>
                                </div><!-- end banner -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    
                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <a href="single.html" title=""><img src="../../static/upload/box_03.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <!-- end blog-media -->
                            </div><!-- end leftside -->

                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Lifestyle</span>
                                    <h4><a href="single.html" title="">How to Dress for Those In-Between Days</a></h4>
                                    <div class="blog-meta">
                                        <span>Posted on</span> June 16, 2018 &nbsp;-&nbsp;<span>By</span> <a href="#">Amanda</a>&nbsp;-&nbsp;<a href="#">5 Comments</a>
                                    </div>
                                    <!-- end meta -->

                                    <p>Sed pulvinar sapien eu eleifend mattis. Curabitur ipsum urna, aliquam a odio et, dapibus vulputate leo. Nulla nec libero vel nisl sollicitudin maximus. Aenean a tempus est. Praesent et dapibus turpis. 
                                    </p>

                                    <div class="post-bottom clearfix">
                                        <div class="pull-left">
                                            <a href="single.html" class="readmore">Continue reading</a>
                                        </div><!-- end left -->

                                        <div class="pull-right">
                                            <div class="post-share">
                                                <div class="customshare">
                                                     <span class="list">
                                                        <strong><i class="fa fa-share-alt"></i>
                                                        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                                                        <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
                                                    </strong>
                                                    </span>
                                                </div>
                                            </div><!-- end share -->
                                        </div><!-- end right -->
                                    </div><!-- end bottom -->
                                </div><!-- end desc -->
                            </div><!-- end right-side -->
                        </div><!-- end blog-box -->

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <a href="single.html" title=""><img src="../../static/upload/box_02.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <!-- end blog-media -->
                            </div><!-- end leftside -->

                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Fashion</span>
                                    <h4><a href="single.html" title="">Summer Lettering Workshops in Brooklyn</a></h4>
                                    <div class="blog-meta">
                                        <span>Posted on</span> June 14, 2018 &nbsp;-&nbsp;<span>By</span> <a href="#">Jessica</a>&nbsp;-&nbsp;<a href="#">5 Comments</a>
                                    </div>
                                    <!-- end meta -->

                                    <p>Sed pulvinar sapien eu eleifend mattis. Curabitur ipsum urna, aliquam a odio et, dapibus vulputate leo. Nulla nec libero vel nisl sollicitudin maximus. Aenean a tempus est. Praesent et dapibus turpis. 
                                    </p>

                                    <div class="post-bottom clearfix">
                                        <div class="pull-left">
                                            <a href="single.html" class="readmore">Continue reading</a>
                                        </div><!-- end left -->

                                        <div class="pull-right">
                                            <div class="post-share">
                                                <div class="customshare">
                                                     <span class="list">
                                                        <strong><i class="fa fa-share-alt"></i>
                                                        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                                                        <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
                                                    </strong>
                                                    </span>
                                                </div>
                                            </div><!-- end share -->
                                        </div><!-- end right -->
                                    </div><!-- end bottom -->
                                </div><!-- end desc -->
                            </div><!-- end right-side -->
                        </div><!-- end blog-box -->

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <a href="single.html" title=""><img src="../../static/upload/box_03.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <!-- end blog-media -->
                            </div><!-- end leftside -->

                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Blogging</span>
                                    <h4><a href="single.html" title="">01. Free Endless numbered days</a></h4>
                                    <div class="blog-meta">
                                        <span>Posted on</span> June 11, 2018 &nbsp;-&nbsp;<span>By</span> <a href="#">Matilda</a>&nbsp;-&nbsp;<a href="#">5 Comments</a>
                                    </div>
                                    <!-- end meta -->

                                    <p>Sed pulvinar sapien eu eleifend mattis. Curabitur ipsum urna, aliquam a odio et, dapibus vulputate leo. Nulla nec libero vel nisl sollicitudin maximus. Aenean a tempus est. Praesent et dapibus turpis. 
                                    </p>

                                    <div class="post-bottom clearfix">
                                        <div class="pull-left">
                                            <a href="single.html" class="readmore">Continue reading</a>
                                        </div><!-- end left -->

                                        <div class="pull-right">
                                            <div class="post-share">
                                                <div class="customshare">
                                                     <span class="list">
                                                        <strong><i class="fa fa-share-alt"></i>
                                                        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                                                        <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
                                                    </strong>
                                                    </span>
                                                </div>
                                            </div><!-- end share -->
                                        </div><!-- end right -->
                                    </div><!-- end bottom -->
                                </div><!-- end desc -->
                            </div><!-- end right-side -->
                        </div><!-- end blog-box -->

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <a href="single.html" title=""><img src="../../static/upload/box_05.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <!-- end blog-media -->
                            </div><!-- end leftside -->

                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Nature</span>
                                    <h4><a href="single.html" title="">Get clean (water!) | Best water filters</a></h4>
                                    <div class="blog-meta">
                                        <span>Posted on</span> June 11, 2018 &nbsp;-&nbsp;<span>By</span> <a href="#">Matilda</a>&nbsp;-&nbsp;<a href="#">5 Comments</a>
                                    </div>
                                    <!-- end meta -->

                                    <p>Sed pulvinar sapien eu eleifend mattis. Curabitur ipsum urna, aliquam a odio et, dapibus vulputate leo. Nulla nec libero vel nisl sollicitudin maximus. Aenean a tempus est. Praesent et dapibus turpis. 
                                    </p>

                                    <div class="post-bottom clearfix">
                                        <div class="pull-left">
                                            <a href="single.html" class="readmore">Continue reading</a>
                                        </div><!-- end left -->

                                        <div class="pull-right">
                                            <div class="post-share">
                                                <div class="customshare">
                                                     <span class="list">
                                                        <strong><i class="fa fa-share-alt"></i>
                                                        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                                                        <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
                                                    </strong>
                                                    </span>
                                                </div>
                                            </div><!-- end share -->
                                        </div><!-- end right -->
                                    </div><!-- end bottom -->
                                </div><!-- end desc -->
                            </div><!-- end right-side -->
                        </div><!-- end blog-box -->

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <a href="single.html" title=""><img src="../../static/upload/box_06.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <!-- end blog-media -->
                            </div><!-- end leftside -->

                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Web Design</span>
                                    <h4><a href="single.html" title="">A Beautiful Minimal Website Design</a></h4>
                                    <div class="blog-meta">
                                        <span>Posted on</span> June 11, 2018 &nbsp;-&nbsp;<span>By</span> <a href="#">Matilda</a>&nbsp;-&nbsp;<a href="#">5 Comments</a>
                                    </div>
                                    <!-- end meta -->

                                    <p>Sed pulvinar sapien eu eleifend mattis. Curabitur ipsum urna, aliquam a odio et, dapibus vulputate leo. Nulla nec libero vel nisl sollicitudin maximus. Aenean a tempus est. Praesent et dapibus turpis. 
                                    </p>

                                    <div class="post-bottom clearfix">
                                        <div class="pull-left">
                                            <a href="single.html" class="readmore">Continue reading</a>
                                        </div><!-- end left -->

                                        <div class="pull-right">
                                            <div class="post-share">
                                                <div class="customshare">
                                                     <span class="list">
                                                        <strong><i class="fa fa-share-alt"></i>
                                                        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                                                        <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
                                                    </strong>
                                                    </span>
                                                </div>
                                            </div><!-- end share -->
                                        </div><!-- end right -->
                                    </div><!-- end bottom -->
                                </div><!-- end desc -->
                            </div><!-- end right-side -->
                        </div><!-- end blog-box -->

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <a href="single.html" title=""><img src="../../static/upload/box_07.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <!-- end blog-media -->
                            </div><!-- end leftside -->

                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Web Design</span>
                                    <h4><a href="single.html" title="">2017 Printable Calendar + Tea Towel</a></h4>
                                    <div class="blog-meta">
                                        <span>Posted on</span> June 11, 2018 &nbsp;-&nbsp;<span>By</span> <a href="#">Matilda</a>&nbsp;-&nbsp;<a href="#">5 Comments</a>
                                    </div>
                                    <!-- end meta -->

                                    <p>Sed pulvinar sapien eu eleifend mattis. Curabitur ipsum urna, aliquam a odio et, dapibus vulputate leo. Nulla nec libero vel nisl sollicitudin maximus. Aenean a tempus est. Praesent et dapibus turpis. 
                                    </p>

                                    <div class="post-bottom clearfix">
                                        <div class="pull-left">
                                            <a href="single.html" class="readmore">Continue reading</a>
                                        </div><!-- end left -->

                                        <div class="pull-right">
                                            <div class="post-share">
                                                <div class="customshare">
                                                     <span class="list">
                                                        <strong><i class="fa fa-share-alt"></i>
                                                        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                                                        <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
                                                    </strong>
                                                    </span>
                                                </div>
                                            </div><!-- end share -->
                                        </div><!-- end right -->
                                    </div><!-- end bottom -->
                                </div><!-- end desc -->
                            </div><!-- end right-side -->
                        </div><!-- end blog-box -->

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <a href="single.html" title=""><img src="../../static/upload/box_08.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <!-- end blog-media -->
                            </div><!-- end leftside -->

                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Web Design</span>
                                    <h4><a href="single.html" title="">Let's show us your workspace</a></h4>
                                    <div class="blog-meta">
                                        <span>Posted on</span> June 11, 2018 &nbsp;-&nbsp;<span>By</span> <a href="#">Matilda</a>&nbsp;-&nbsp;<a href="#">5 Comments</a>
                                    </div>
                                    <!-- end meta -->

                                    <p>Sed pulvinar sapien eu eleifend mattis. Curabitur ipsum urna, aliquam a odio et, dapibus vulputate leo. Nulla nec libero vel nisl sollicitudin maximus. Aenean a tempus est. Praesent et dapibus turpis. 
                                    </p>

                                    <div class="post-bottom clearfix">
                                        <div class="pull-left">
                                            <a href="single.html" class="readmore">Continue reading</a>
                                        </div><!-- end left -->

                                        <div class="pull-right">
                                            <div class="post-share">
                                                <div class="customshare">
                                                     <span class="list">
                                                        <strong><i class="fa fa-share-alt"></i>
                                                        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                                                        <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
                                                    </strong>
                                                    </span>
                                                </div>
                                            </div><!-- end share -->
                                        </div><!-- end right -->
                                    </div><!-- end bottom -->
                                </div><!-- end desc -->
                            </div><!-- end right-side -->
                        </div><!-- end blog-box -->

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end content -->

                    <div class="sidebar col-lg-4">
                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3><span>Site Search</span></h3>
                            </div><!-- end widget-title -->

                            <form class="form-inline search-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search on the site">
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </form>
                        </div><!-- end widget -->

                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3><span>About Me</span></h3>
                            </div><!-- end widget-title -->

                            <div class="about-widget text-center">
                                <div class="entry">
                                    <img src="../../static/upload/about.jpg" alt="" class="rounded-circle img-fluid">
                                    <div class="magnifier rd bg">
                                        <a href="page-about.html" class="btn btn-primary">View Profile</a>
                                    </div>
                                </div>

                                <p>Duis scelerisque sem at erat accumsan sodales. Duis non mattis risus, ut vehicula orci. Cras mollis augue at metus tincidunt convallis.</p>

                                <div class="blog-social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Follow on Facebook">
                                        <div class="socibox">
                                            <span class="fa fa-facebook"></span>
                                        </div>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Follow on Twitter">
                                        <div class="socibox">
                                            <span class="fa fa-twitter"></span>
                                        </div>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Follow on Instagram">
                                        <div class="socibox">
                                            <span class="fa fa-instagram"></span>
                                        </div>
                                    </a>
                                    <hr>
                                </div><!-- end blog-social -->
                            </div><!-- end about -->
                        </div><!-- end widget -->

                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3><span>Blog Categories</span></h3>
                            </div><!-- end widget-title -->

                            <div class="category-widget">
                                <ul>
                                    <li><a href="#">LifeStyle (12)</a></li>
                                    <li><a href="#">Travel (12)</a></li>
                                    <li><a href="#">Fashion (12)</a></li>
                                    <li><a href="#">Blogging (12)</a></li>
                                    <li><a href="#">Marketing (12)</a></li>
                                </ul>
                            </div><!-- end category -->
                        </div><!-- end widget -->

                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3><span>Latest Posts</span></h3>
                            </div><!-- end widget-title -->

                            <div class="blog-list-widget">
                                <div class="list-group">
                                    <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="../../static/upload/insta_09.jpeg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">A Beautiful Minimal Website Design</h5>
                                            <small>12 Jan, 2016</small>
                                        </div>
                                    </a>

                                    <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="../../static/upload/insta_01.jpeg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">How to make best typography</h5>
                                            <small>11 Jan, 2016</small>
                                        </div>
                                    </a>

                                    <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 last-item justify-content-between">
                                            <img src="../../static/upload/insta_03.jpeg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">Welcome to the board, we are Matilda</h5>
                                            <small>07 Jan, 2016</small>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->

                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3><span>Tag Cloud</span></h3>
                            </div><!-- end widget-title -->

                            <div class="tag-widget">
                                <a href="#">design</a>
                                <a href="#">art</a>
                                <a href="#">gallery</a>
                                <a href="#">fashion</a>
                                <a href="#">modern</a>
                                <a href="#">creative</a>
                                <a href="#">respo</a>
                                <a href="#">antica</a>
                                <a href="#">mobsen</a>
                                <a href="#">green</a>
                            </div><!-- end tag-widget -->
                        </div><!-- end widget -->
                    </div><!-- end sidebar -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

{% endblock %}