<!-- blog/comment_list.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Comments for {{ post.title }}</h2>

{% if comments %}
    <ul>
        {% for comment in comments %}
            <li>{{ comment.author.username }}: {{ comment.message }} - {{ comment.created_at }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No comments yet.</p>
{% endif %}

<a href="{% url 'blog:comment_new' post.pk %}">Add a new comment</a>
<a href="{% url 'blog:post_detail' post.pk %}">Back to post</a>

{% endblock %}
