{% extends 'base.html' %}

{% block content %}
{% load static %}

<section class="slider-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for i in random_posts %}
                                <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            {% for post in random_posts %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img class="d-block img-fluid" src="{{ post.thumb_image.url }}" alt="{{ post.title }}">
                                    <div class="carousel-caption d-none d-md-block">
                                        <span class="cat-title">{{ post.category }}</span>
                                        <h3>{{ post.title }}</h3>
                                        <p>{{ post.content }}</p>
                                        <div class="blog-bottom text-center">
                                            <a href="{% url 'blog:post_detail' post.pk %}" class="btn btn-primary">Continue Reading</a>
                                        </div><!-- end bottom -->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>


<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="content col-lg-8">
                {% for post in post_list %}
                <div class="blog-box clearfix">
                    <div class="blog-media">
                        <a href="{% url 'blog:post_detail' post.pk %}" title="">
                            {% if post.thumb_image %}
                            <img src="{{ post.thumb_image.url }}" alt="Post Image" class="img-fluid">
                            {% endif %}
                        </a>
                    </div>
                    <!-- end blog-media -->
                    <div class="blog-desc text-center">
                        <span class="cat-title">{{ post.category }}</span>
                        <h4><a href="{% url 'blog:post_detail' post.pk %}" title="">{{ post.title }}</a></h4>
                        <div class="blog-meta">
                            <p>{{ post.updated_at }}</p>
                        </div>
                        <!-- end meta -->
                        <p>{{ post.content }}</p>
                        <div class="blog-bottom text-center">
                            <a href="{% url 'blog:post_detail' post.pk %}" class="btn btn-primary">Continue Reading</a>
                            <a href="{% url 'blog:post_edit' post.pk %}" class="btn btn-primary">edit</a>
                            <a href="{% url 'blog:post_delete' post.pk %}" class="btn btn-primary">delete</a>
                        </div><!-- end bottom -->
                        <div class="blog-social clearfix"><hr></div><!-- end blog-social -->
                    </div><!-- end desc -->
                </div><!-- end blog-box -->
                {% endfor %}
            </div><!-- end col -->

            <div class="sidebar col-lg-4">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3><span>Site Search</span></h3>
                    </div><!-- end widget-title -->
                    <form action="" method="GET" class="form-inline search-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search on the site" name="q" value="{{ request.GET.q }}">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div><!-- end widget -->

                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3><span>Blog Categories</span></h3>
                    </div><!-- end widget-title -->

                    <div class="category-widget">
                        <ul>
                            {% for post in post_list %}
                            <li><a href="{% url 'blog:post_detail' post.pk %}">{{ post.category }}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- end category -->
                </div><!-- end widget -->

                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3><span>Tag Cloud</span></h3>
                    </div><!-- end widget-title -->
                
                    <div class="tag-widget">
                        {% for post in post_list %}
                            {% for tag in post.tags.all %}
                                <a href="{% url 'blog:post_detail' post.pk %}">{{ tag.name }}</a>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div><!-- end widget -->
                
            </div><!-- end sidebar -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->
{% endblock %}