{% extends 'base.html' %}

{% block content %}
{% load static %}

<section class="slider-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block img-fluid" src="{% static 'upload/slider_03.jpg' %}" alt="First slide" />
                                <div class="carousel-caption d-none d-md-block">
                                    <span class="cat-title">Lifestyle</span>
                                    <h3>Dress for Those In-Between Days</h3>
                                    <p> Aenean a tempus est. Praesent et dapibus turpis. Mauris vulputate diam lorems</p>
                                    <div class="blog-bottom text-center">
                                        <a href="single.html" class="btn btn-primary">Continue Reading</a>
                                    </div><!-- end bottom -->
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="{% static 'upload/slider_02.jpg' %}" alt="Second slide" />
                                <div class="carousel-caption d-none d-md-block">
                                    <span class="cat-title">Fashion</span>
                                    <h3>Summer Lettering Workshops</h3>
                                    <p> Aenean a tempus est. Praesent et dapibus turpis. Mauris vulputate diam lorems</p>
                                    <div class="blog-bottom text-center">
                                        <a href="single.html" class="btn btn-primary">Continue Reading</a>
                                    </div><!-- end bottom -->
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="{% static 'upload/slider_01.jpg' %}" alt="Three slide" />
                                <div class="carousel-caption d-none d-md-block">
                                    <span class="cat-title">Blogging</span>
                                    <h3>01. Free Endless numbered day</h3>
                                    <p> Aenean a tempus est. Praesent et dapibus turpis. Mauris vulputate diam lorems</p>
                                    <div class="blog-bottom text-center">
                                        <a href="single.html" class="btn btn-primary">Continue Reading</a>
                                    </div><!-- end bottom -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="content col-lg-8">
                {% for post in post_list %}
                <div class="blog-box clearfix">
                    <div class="blog-media">
                        <a href="{% url 'blog:post_detail' post.pk %}" title="">
                            {% if post.thumb_image %}
                            <img src="{{ post.thumb_image.url }}" alt="Post Image" class="img-fluid">
                            {% endif %}
                        </a>
                    </div>
                    <!-- end blog-media -->
                    <div class="blog-desc text-center">
                        <span class="cat-title">{{ post.category }}</span>
                        <h4><a href="{% url 'blog:post_detail' post.pk %}" title="">{{ post.title }}</a></h4>
                        <div class="blog-meta">
                            <p>{{ post.updated_at }}</p>
                        </div>
                        <!-- end meta -->
                        <p>{{ post.content }}</p>
                        <div class="blog-bottom text-center">
                            <a href="{% url 'blog:post_detail' post.pk %}" class="btn btn-primary">Continue Reading</a>
                            <a href="{% url 'blog:post_edit' post.pk %}" class="btn btn-primary">edit</a>
                            <a href="{% url 'blog:post_delete' post.pk %}" class="btn btn-primary">delete</a>
                        </div><!-- end bottom -->
                        <div class="blog-social clearfix"><hr></div><!-- end blog-social -->
                    </div><!-- end desc -->
                </div><!-- end blog-box -->
                {% endfor %}
            </div><!-- end col -->

            <div class="sidebar col-lg-4">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3><span>Site Search</span></h3>
                    </div><!-- end widget-title -->
                    <!-- 검색 기능 추가 -->
                    <form action="" method="GET">
                        <input type="text" name="q" value="{{ request.GET.q }}">
                        <input type="submit" value="검색">
                    </form>

                    <form class="form-inline search-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search on the site">
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                </div><!-- end widget -->

                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3><span>Blog Categories</span></h3>
                    </div><!-- end widget-title -->

                    <div class="category-widget">
                        <ul>
                            {% for post in post_list %}
                            <li><a href="{% url 'blog:post_detail' post.pk %}">{{ post.category }} (n개?) </a></li>
                            <!-- 카테고리 목록들만 옮겨놓은 페이지 이동? -->
                            {% endfor %}
                        </ul>
                    </div><!-- end category -->
                </div><!-- end widget -->

                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3><span>Tag Cloud</span></h3>
                    </div><!-- end widget-title -->

                    <div class="tag-widget">
                        {% for post in post_list %}
                        <a href="{% url 'blog:post_detail' post.pk %}">{{ post.tag }}</a>
                        {% endfor %}
                    </div><!-- end tag-widget -->
                </div><!-- end widget -->
            </div><!-- end sidebar -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->
{% endblock %}